.box {
  width: 33.2rem;
  padding: 2.8rem;
  background-color: $color-white;
  &:nth-of-type(n + 4) {
    margin-top: 3rem;
  }
  // &:nth-of-type(3n + 2),
  // &:nth-of-type(3n + 3) {
  //   margin-left: 3rem;
  // }
  @include portrait {
    width: calc(50% - 1rem);
    padding: 1.5rem;
    &:nth-of-type(n + 3) {
      margin-top: 2rem;
    }
  }
  @include mobile-lg {
    width: 100%;
    &:nth-of-type(n + 2) {
      margin-top: 2rem;
    }
  }
  &__heading {
    margin-bottom: 1.2rem;
    color: $color-dark;
  }
  &__desc {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: $color-dimmed;
    @include mobile-lg {
      font-size: 1.2rem;
      line-height: 1.6rem;
    }
  }
  &__ic {
    margin-top: 1.2rem;
  }
}
