.slider {
  position: relative;
  &__navigation {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 4.8rem;
    height: 4.8rem;
    background-color: $color-white-opacity;
    border-radius: 50%;
    &::after {
      content: "";
      width: 1.3rem;
      height: 2.4rem;
      background-image: url("../img/prev_arrow.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .swiper-button-prev {
    left: -5rem;
  }
  .swiper-button-next {
    right: -5rem;
    &::after {
      background-image: url("../img/next_arrow.svg");
    }
  }
}
